<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ddu.goushushenpixitong.mapper.ApprovalMapper" >
  <resultMap id="BaseResultMap" type="com.ddu.goushushenpixitong.entity.Approval" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="option_lab" property="optionLab" jdbcType="VARCHAR" />
    <result column="option_unit" property="optionUnit" jdbcType="VARCHAR" />
    <result column="option_dean" property="optionDean" jdbcType="VARCHAR" />
  </resultMap>
</mapper>